.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  color: white;
}

.search {
  flex-grow: 1;
  margin: 0 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cartButton {
  background-color: #022451; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cartButton:hover {
  background-color: #0044bb; 
}
